<template>
    <div style="background:#eee;">
         <div class="title">
        <slot name="title" >            
        </slot>
        <Divider/>
         </div>
         <div class="content">
         <Row>
             <Col span="10">
                <img class="movieImg" 
                        :src="movie.poster">
             </Col>
             <Divider type="vertical"/>
            <Col span="12">
                    <p ><b> Year Of Release</b> : {{movie.yearOfRelease}}</p>
                    <br>
                    <p v-if="movie.producer!=null"><b> Producer </b> : {{movie.producer.firstName}} {{movie.producer.lastName}}</p>
                    <br>
                    <p><b> CAST </b> : 
                    <ul class="list">
                        <li v-for="actor in movie.actors" :key="actor.id"> {{actor.firstName}} {{actor.lastName}} <span v-show="lastActorId!=actor.id"> , </span></li>
                        </ul>
                    </p>
                    <br>
                    <p ><b> Genre </b> : <ul class="list" >
                        <li v-for="genre in movie.genres" :key="genre.id"> {{genre.name}} <span v-show="lastGenreId!=genre.id"> , </span></li>
                        </ul>
                    </p>
            </Col>
         </Row>
        <Divider><b>PLOT</b>:</Divider>
      
        <p> {{movie.plot}}</p>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        movie:{
            type: Object,
            required: true
        }
    },
    data(){
        return {
            actorsCount:0,
            lastActorId:0,
            genreCount:0,
            lastGenreId:0, 
        }
    },
   
    watch:{
        movie(newValue){
            this.actorsCount = newValue.actors.length,
            this.lastActorId =newValue.actors[this.actorsCount-1].id
            this.genreCount = newValue.genres.length
            this.lastGenreId = newValue.genres[this.genreCount-1].id
        }
    }

}
</script>

<style scoped>
.title{
    background-color:mintcream; 
    text-align: center;
}
.movieImg{
    border: 3px solid green;
    width: 100%;
}
.list{
    list-style:none;
    margin-left: 0px;
}
.list li{
   margin-left: 2px;
}
.content{
    font: 1em sans-serif;
    font-size: 15px;
}
</style>