<template>
    <div >
       <Card :bordered="true" 
            class="InnerContainer">
            <div slot="title" 
                class="title">
                <div align="right">
                <button 
                    style="margin:3px"
                    @click="navigateToEdit">
                <Icon 
                    type="md-create" 
                    size="18"/>
                </button>
                <button 
                    style="margin:3px" 
                    @click="deleteMovie">
                        <Icon 
                            type="md-trash" 
                            size="18"/>
                </button>
                </div>
                <h4>{{movie.title}}</h4>
                
            </div>
            <p>Year of Release : {{movie.yearOfRelease}}</p>
            <p v-if="movie.producer!=null">Producer: {{getFullName(movie.producer)}}</p>
            <p>CAST: 
                <span v-for="actor in movie['actors']" :key="actor['id']">{{getFullName(actor)}}. </span>
            </p>
            <Button 
                type="primary"
                @click="showDetail">Detail</Button> 
        </Card> 
    </div>
</template>

<script>
export default {
    props:{
        movie:{
            type: Object,
            required:true
        }
    },

    methods:{
        showDetail(){
            this.$emit("detail",this.movie)
        },
        getFullName(person){
            return person.firstName+ ' '+person.lastName
        },
        navigateToEdit(){
        this.$router.push({
                name: 'EditMovie',
                query:{
                        'id': this.movie.id,
                     }
            })
        },
        deleteMovie(){
            this.$emit('delete',this.movie.id)
        }
    } 
       
}
</script>
<style scoped>
.InnerContainer{
    height: 350px;
}
.title{
    background-color:#f09ec7; 
    text-align:center;
    height: 100px;
}
</style>