<template>
    <div style="margin:10px;">
        <Card :bordered="true">
            <div slot="title" class="titleBlock">
                <div align="right">
                <button 
                    style="margin:3px" 
                    @click="editPerson">
                        <Icon 
                            type="md-create" 
                            size="18"/>
                </button>
                <button 
                    style="margin:3px" 
                    @click="deletePerson">
                        <Icon 
                            type="md-trash" 
                            size="18"/>
                        </button>
                </div>
               <slot name="title"></slot>
               
            </div>
            <p>DOB: {{person.dob | date}}</p>
            <p>Age: {{computeAge()}}</p>
            <p>Gender : {{person.gender}}</p>
            <Button 
                type="primary" 
                @click="showDetail">Detail</Button>   
        </Card> 
    </div>        
</template>
<script>

export default {
    props:{
        person:{
            type:Object,
            required:true
        },
    },
    data(){
        return {
            changeCount:0
        }
    },
   
    watch:{
       person:{
           handler(value){ 
               if(this.changeCount%2==0){
                    var dt = value.dob
                    //To convert date into same like database stored date
                    this.person.dob = dt.getFullYear()+ '-'+ dt.getMonth()+ '-'+dt.getDate() 
               }
               this.changeCount+=1
                   },
         deep:true
       },
    },
    methods:{     
       computeAge(){
            //Today's date
            var today = new Date();
            /* 1999-03-21T00:393*/
            //Person's DOB
            var dob = this.person.dob
            var dt = dob.toString().split('-')
            var dd = dt[2].split('T')
            var birthDate = new Date(dt[0],dt[1],dd[0])
            var years = (today.getFullYear() - birthDate.getFullYear());
        
            
            this.person.age = years
            return years;
       },

        showDetail(){
            this.$emit("detail",this.person)
        },
        editPerson(){
            this.$emit("edit",this.person)
        },
        deletePerson(){
            this.$emit("delete",this.person.id)
        }  
    }  ,
}
</script>
<style scoped>
.titleBlock{
    background-color:#9ff777; 
    text-align:center;
    height: 80px;
}
</style>
