<template>
        <div style="background:#eee">
            <div class="title">
                <slot name="title"></slot>
            </div>
         <Divider/>
        <img class="image"  
            src="../assets/person.png">
          <br>
        <p v-if="person.bio!=null"><strong>BIO: </strong> {{person.bio}}</p>
        <p> {{person.gender | to-uppercase}}</p>
        <p>DOB: {{person.dob}}</p>
        <p><strong>AGE: </strong> {{person.age}}</p>
        <br>
   </div>
</template>

<script>
export default {
    props:{
        person:{
            type:Object,
            required:true
        }
    },  
}
</script>

<style scoped>
.title{
    background-color:mintcream; 
    text-align: center;
}
.image{
    display:block; 
    margin:auto;
    border: 3px solid green;
}
</style>