<template>
    <div>
        <Modal
            v-model="modal"
            :title="title"
            :closable="true"
            :styles="{top: '20px', width:'50%', border:'5px solid #aa42f5'}">
         <Form 
            ref="personForm"
            :rules="ruleValidate"
            :model="p" 
            label-position="top">
        <FormItem label="FirstName" prop="firstName">
            <Input 
                class="InputField" 
                v-model="p.firstName" 
                type="text"
                placeholder="Enter First Name"
                required="true">
            </Input>
        </FormItem>
        <FormItem label="Last Name" prop="lastName">
            <Input 
                class="InputField" 
                v-model="p.lastName" 
                placeholder="Enter Last Name">
            </Input>
        </FormItem>
        <FormItem label="Bio" prop="bio">
            <Input 
                class="InputField" 
                v-model="p.bio"
                type="textarea" 
                placeholder="Enter Bio">
            </Input>
        </FormItem>
        <FormItem label="Date Of Birth" prop="dob">
             <DatePicker v-model="p.dob" 
                        format="yyyy-MM-dd" 
                        type="date" 
                        placeholder="Select date" 
                        style="width: 200px">
            </DatePicker>
        </FormItem>
        <FormItem label="Gender" prop="gender">
            <Select v-model="p.gender" 
                    placeholder="Select Gender" 
                    style="width:200px">
                <Option value="Male">Male</Option>
                <Option value="Female">Female</Option>
            </Select>
        </FormItem>
        

        </Form>
        <div slot="footer">
        <Button type="text" size="large" @click="cancel">Cancel</Button>
        <Button type="primary" size="large" @click="submit">Submit</Button>
        </div>

        </Modal>
    </div>
</template>
<script>
export default {
     props:{
         person:{
             required:false
         },
         formModal:Boolean,
         title:String
     },
    
     data(){
         return{
             p: {
                firstName:'',
                lastName: '',
                gender:'',
                bio: '',
                dob: ''
             },
             loading:true,
             modal:this.formModal,
             ruleValidate: {
             firstName: [{ required: true, type:'string', message: 'First name cannot empty', trigger: 'blur'}],
             lastName: [{required:true, type:'string', message:'Last Name cannot be empty', trigger: 'blur'}],
             gender: [{required:true, type:'string', message:'Gender cannot be empty', trigger:'blur'}],
             dob: [{required:true, type:'date',message:'DOB cannot be empty',trigger:'change'},
                    ] 
             },
         }
     },
         
    watch:{
       person:{
            handler(value){ 
           this.p.firstName = value.firstName
           this.p.lastName = value.lastName
           this.p.bio = value.bio
           this.p.gender = value.gender
           this.p.dob = value.dob
            },deep:true
       } ,
       formModal:function(value){
           this.modal = value
       }
    },
      methods:{
        submit(){
            this.$refs['personForm'].validate((valid) => { 
    		if(valid) { 
                var personObj = {
                    firstName: this.p.firstName,
                    lastName: this.p.lastName,
                    gender : this.p.gender,
                    dob :this.p.dob,
                    bio: this.p.bio
                }
                if(this.person.id != null){
                    personObj.id = this.person.id
                }
                this.$emit('ok',personObj)
                this.$refs['personForm'].resetFields();             
            }
            else{
                 this.$Message.error({
                    content:'Validation Failed!',
                    duration:3
                    }) 
                }
            })
        } ,
        cancel(){ 
            this.$refs['personForm'].resetFields();
            this.$emit('cancel')
        },
      }
      
}
</script>

<style scoped>
.InputField{
    width:50%;
}
Form{
    background-color:whitesmoke;
}
</style>