<template>
  <div id="imdbapp">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
  <a class="navbar-brand" href="#">IMDB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <router-link class="nav-item nav-link" to="/">Home </router-link> 
      <router-link class="nav-item nav-link" to="/movies">Movies</router-link> 
      <router-link class="nav-item nav-link" to="/actors">Actors</router-link> 
      <router-link class="nav-item nav-link" to="/producers">Producers</router-link> 
    </div>
  </div>
  </div>
</nav>
    <router-view/>
  </div>
</template>

<style>
#imdbapp {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
