<template>
  <div>
    <br>
      <Row>
      <Col :xs="20"
            :sm="12"
            :md="8" 
            v-for="actor in actorsLst"  
            :key="actor.id">
        <actor-item 
              class="actorTile"
              :person="actor"
              @detail="displayDetail"
              @edit="editActor"
              @delete="deleteActor">
           <template #title>
             <h4>{{actor.firstName}} {{actor.lastName}}</h4>
           </template>
        </actor-item>
    </Col>
      </Row>
  
   <Modal
        v-model="detailModal"
        cancel-text=""
        :styles="{top: '20px', width:'50%', border:'5px solid #aa42f5'}">
                   
        <actor-detail :person="actorObj">
        <template #title>
              <h2>
                {{actorObj.firstName}} {{actorObj.lastName}}
              </h2>    
        </template>
        </actor-detail>
   </Modal>
   <actor-form  :person="selectedActor" 
                :formModal="formModal" 
                title="Update Actor"
                @ok="updateActor" 
                @cancel="cancel">
   </actor-form>
  </div>
</template>

<script>
import PersonItem from '../components/PersonItem.vue'
import PersonForm from '../components/PersonForm.vue'
import PersonDetail from '../components/PersonDetail.vue'
import {mapGetters} from 'vuex'
import actorService from '../Services/actorService.js'

export default {
  components:{
    'ActorItem': PersonItem,
    'ActorForm': PersonForm,
    'ActorDetail': PersonDetail,
  },
  data(){
    return{
      detailModal: false,
      selectedActor:{},
      actorObj:{gender:'male'},
      formModal:false,
     }
  },
  computed:{
    ...mapGetters({
       actorsLst :'actorsLst'
    }),
   
  },
 
  methods: {
        displayDetail(actor){
            this.actorObj=actor 
            this.detailModal=true
        },
        editActor(actor){
          this.selectedActor=actor 
          this.formModal=true;
        },
        updateActor(actor) {
            this.formModal= false
            actor.id = this.selectedActor.id
            var promise = actorService.updateActor(actor)
            promise.then(() => {
                this.$store.dispatch('updateActor',actor)
                this.$Message.success('Actor Updated');
              })
              .catch(error=> console.log(error))
        },
        cancel () {
          this.formModal = false
          this.selectedActor= {}
        },
        deleteActor(id){
         var promise = actorService.deleteActor(id,this)
         promise.then(() => {
              this.$Message.success('Actor Deleted');
              this.$store.dispatch('deleteActor',id) 
         })
                .catch(error=> console.log(error))
          
        },
  },
}
</script>
<style scoped>
.actorTile{
  background:#eee;
  padding:10px; 
  margin:auto; 
  max-height: 500px;
  border:5px solid #8733f5
}
</style>