<template>
  <div class="home">
    <div>
    <div style="background-color:crimson;">
    <marquee style="font-weight:bold; font-size:40px;">Welcome to IMDB System</marquee>
    <br><br>
    </div>
    </div>
    <Carousel
        v-model="value"
        :autoplay="true"
        :autoplay-speed="setting.autoplaySpeed"
        :dots="setting.dots"
        :radius-dot="setting.radiusDot"
        :trigger="setting.trigger"
        :arrow="setting.arrow">
        <CarouselItem>
            <img src="../assets/imdb.jpg" class="CarouselImage" >
        </CarouselItem>
        <CarouselItem>
            <img src="../assets/imdb2.jpg" class="CarouselImage" >
        </CarouselItem>
        <CarouselItem>
            <img src="../assets/imdb3.jpg" class="CarouselImage" >
        </CarouselItem>
        <CarouselItem>
            <img src="../assets/imdb4.jpg" class="CarouselImage" >
        </CarouselItem>
    </Carousel>
    <div style="background-color:#a0a5ad; width:100%;">
      <footer >
    <h2>About Us</h2>
    <h3>Developed By: Akshay Kumbhar</h3>
    <h4>Deltax Training Program</h4>
      </footer>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src

import actorService from '../Services/actorService'
import producerService from '../Services/producerService'
import genreService from '../Services/genreService'
import movieService from '../Services/movieService'
export default {
  name: 'Home',
 
  created(){
    //Fetch Actors
    const promise = actorService.getActors()
    promise.then(res=>{
                    const data = res.data
                    this.$store.dispatch('getActors',data)
                })
                .catch(error=> console.log(error))
    
    //Fetch Producers
    let promise2 = producerService.getProducers()
    promise2.then(res=>
                {
                    const data = res.data
                    this.$store.dispatch('getProducers',data)
                })
                .catch(error=> console.log(error))

    //Fetch Genres
    let promise3 = genreService.getGenres()
    promise3.then(res=>
                {
                  const data = res.data
                  this.$store.dispatch('getGenres',data)
                })
                .catch(error=> console.log(error))
    //Fetch Movies
    let promise4 = movieService.getMovies()
    promise4.then(res=>
                {
                    const data = res.data
                    this.$store.dispatch('getMovies',data)
                })
                .catch(error=> console.log(error)) 
  },
   data(){
    return{
      value:0,
      setting: {
                autoplay: false,
                autoplaySpeed: 2000,
                dots: 'inside',
                radiusDot: false,
                trigger: 'click',
                arrow: 'hover'
                }
    }
  },
  
}
</script>
<style scoped>
.CarouselImage{
  width:100%; 
  height:550px;
}
</style>