<template>
    <div>
        <br>
        <h2>Add a New Movie</h2>
        <br>
        <Form 
            ref="formValidate" 
            :model="movieRequest" 
            :rules="movieRuleValidate" 
            label-position="top"
            class="MovieForm">
            <br>
        <FormItem class="formItem" 
                   label="Title" 
                   prop="title">
            <Input class="inputClass" 
                    v-model="movieRequest.title" 
                    placeholder="Enter title of movie"></Input>
        </FormItem>
        
        <FormItem class="formItem" 
                    label="Plot" 
                    prop="plot">
            <Input class="inputClass" 
                    v-model="movieRequest.plot" 
                    type="textarea"
                    placeholder="Enter Plot of movie"></Input>
        </FormItem>
        
        <FormItem class="formItem" 
                    label="Year Of Release" 
                    prop="yearOfRelease">
            <Input class="inputClass" 
                    v-model="movieRequest.yearOfRelease" 
                    placeholder="Enter Year of Release"
                    type="number"></Input>
        </FormItem>
        <FormItem class="formItem" 
                    label="Poster" 
                    prop="poster">
            <Input class="inputClass" 
                    v-model="movieRequest.poster" 
                    placeholder="Enter the poster path"></Input>
            <!-- <input 
                    type="file" class="form-control-file" id="exampleFormControlFile1">
             -->
        </FormItem>
        <FormItem class="formItem" 
                    label="Producer"  
                    prop="producerId">
            <Select class="inputClass" 
                    v-model="movieRequest.producerId" 
                    placeholder="Select Producer" 
                    filterable style="color:#948f91;">
                <Option v-for="producer in allProducers" 
                        :key="producer.id"
                        :value="producer.id">
                        {{producer.firstName}} {{producer.lastName}}</Option>
            </Select>
                    <Button class="addPersonBtn" 
                            @click="producerModal=true" >+ Producer</Button>                   
             </FormItem>
   
        <FormItem class="formItem" 
                    label="Actors" 
                    prop="actors">
            <Select class="inputClass" 
                    v-model="movieRequest.actors" 
                    placeholder="Select Cast" 
                    filterable multiple >
                <Option 
                    v-for="actor in allActors" 
                    :key="actor.id" 
                    :value="actor.id">
                    {{actor.firstName}} {{actor.lastName}}
                    </Option>
            </Select>
                <Button class="addPersonBtn" 
                    @click="actorModal=true;">+ Actor</Button>
        </FormItem>
        
        <FormItem class="formItem" 
                    label="Genres" 
                    prop="genres">
            <Select class="inputClass" 
                    v-model="movieRequest.genres" 
                    placeholder="Select Genres" 
                    filterable multiple >
                <Option 
                    v-for="genre in allGenres" 
                    :key="genre.id" 
                    :value="genre.id">
                    {{genre.name}}
                    </Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button type="primary" 
                    @click="handleSubmit('formValidate')">Submit</Button>
            
             <Button @click="handleReset('formValidate')" 
                    style="margin-left: 8px">Reset</Button> 
          </FormItem>
        <br>
    </Form>
    <br>
    
    <person-form :formModal="actorModal" 
                :person="actorObj"
                title="Add a New Actor"
                @ok="addActor"
                @cancel="actorModal=false"></person-form>
    
    <person-form :formModal="producerModal"
                :person="producerObj"
                title="Add a New Producer"
                @ok="addProducer" 
                @cancel="producerModal=false">
    </person-form>    
    </div>
</template>
<script>
import PersonForm from '../components/PersonForm.vue'
import {mapGetters} from 'vuex'
import actorService from '../Services/actorService'
import producerService from '../Services/producerService'
import movieService from '../Services/movieService'
export default {
  components: { 
      PersonForm
    },
created(){
    if (this.$route.query.id!=null){
        this.$store.dispatch('getMovie',this.$route.query.id)
        this.movieRequest.id = this.movie.id
        this.movieRequest.title = this.movie.title
        this.movieRequest.yearOfRelease= this.movie.yearOfRelease
        this.movieRequest.plot = this.movie.plot
        this.movieRequest.poster = this.movie.poster
        this.movieRequest.producerId = this.movie.producer.id
        const movieActors = this.movie.actors
        const movieGenres = this.movie.genres
        for (let i in movieActors){
            this.movieRequest.actors.push(movieActors[i].id)
        }
        for(let i in movieGenres){
            this.movieRequest.genres.push(movieGenres[i].id)
        }
    }
},
data() {
    return {
        actorModal:false,
        producerModal:false,
        actorObj:{},
        currentYear: Number(new Date().getFullYear()),
        producerObj:{},
        movieGenres: [],
        movieProducer:{},
        movieId: this.$route.query.id,
        movieRequest: {
            title:'',
            yearOfRelease:'',
            plot: '',
            producerId: '',
            poster:'',
            actors: [],
            genres:[]
        },
        movieRuleValidate: {
            title: [
                { required: true, message:'The Title cannot be empty', trigger: 'blur' } 
            ],
            plot: [
                    { required: true, message: 'The Plot cannot be empty', trigger:'blur'}
            ],
            yearOfRelease: [
                
             { required: true, message: 'The Year of Release cannot be empty', trigger: 'blur', type: "number", transform(yearOfRelease) {
                    return Number(yearOfRelease);
                 }
             },
            {type:'number',min:1900, max:2021, message:"Enter valid year",transform(yearOfRelease) {
                    return Number(yearOfRelease);
                 }}
            ],
            poster: [
                { required:true, type:'string', message: 'The Poster cannot be empty',trigger:'blur'}
            ],
            producerId: [
                { required: true, type:'number',message: 'Select a Producer',trigger:'change'}
            ],
            actors: [
                {required: true, type: 'array',min: 1, message: 'Choose at least one Actor',trigger: 'change'}
            ],
            genres: [
                {required:true, type: 'array',min: 1, message: 'Choose at least one Genre',trigger:'change'}
            ]
        },          
    }
},
computed:{
    ...mapGetters({
        allActors: 'actorsLst',
        allGenres: 'genresLst',
        allProducers: 'producersLst',
        movie:'movie'
    }),
    movieActors(){
        var temp=[]
        for(var j in this.movieRequest.actors){
            for(var i in this.allActors){
                if(this.movieRequest.actors[j]== this.allActors[i].id){
                    temp.push(this.allActors[i])
                }
            }
        }
        return temp
    }
},

methods: {
    getActorsGenres(){                 
        for(var j in this.movieRequest.genres){
            for(var i in this.$store.state.genresLst){
                if( this.movieRequest.genres[j]== this.$store.state.genresLst[i].id){
                    this.movieGenres.push(this.$store.state.genresLst[i])
                }
            }
        } 
            for(var i in this.$store.state.producersLst){
                if (this.movieRequest.producerId == this.$store.state.producersLst[i].id) {
                    this.movieProducer= this.$store.state.producersLst[i]
            }
        }
    },
    handleSubmit (name) {
        this.$refs[name].validate((valid) => {
            if (valid ) {
            if (this.$route.query.id == null)
            {
                let promise = movieService.addMovie(this.movieRequest)
                promise.then(()=>{
                this.$Message.success('Movie Added!');
                this.getMovies()
                this.$router.replace('/movies')
                
        }).catch(()=>{
            self.$Message.error('Error')
        }) 
            }
        else {
           const promise = movieService.updateMovie(this.movieId,this.movieRequest)
            promise.then(()=>{
                    this.getActorsGenres();
                    this.$Message.success('Movie Updated!');
                    this.$store.dispatch('updateMovie',
                        {
                        movieRequest:this.movieRequest, 
                        id:this.movieId,
                        actors:this.movieActors, 
                        genres:this.movieGenres,
                        producer:this.movieProducer
                        })
                    this.$router.replace('/movies')
            })
            .catch(error=>{
                console.log(error)
            })
        }}         
            else {
                this.$Message.error({
                    content:'Validations Failed!',
                    duration:2
                    })
            }
        })
    },
    handleReset (name) {
        this.$refs[name].resetFields();
    },
    getMovies(){
        let promise = movieService.getMovies()
        promise.then(res=>
                {
                    const data = res.data
                    this.$store.dispatch('getMovies',data)
                })
                .catch(error=> console.log(error))
 
    },
     addActor (actorObj) {
        this.actorModal=false
        if(this.movieRequest.actors == undefined){
            this.movieRequest.actors = []
        }
        const promise = actorService.addActor(actorObj)
        promise.then(() => {
           // this.getActors()
                 actorService.getActors().then(res=>{
                    const data = res.data
                    this.$store.dispatch('getActors',data)
                    this.$Message.success('Actor Added');
                    this.movieRequest.actors.push(this.allActors[this.allActors.length-1].id)
                })
               })
            .catch(error=> console.log(error)) 
    },
    getActors(){
        const promise = actorService.getActors()
        
         promise.then(res=>{
                    const data = res.data
                    this.$store.dispatch('getActors',data)
                })
                .catch(error=> console.log(error))
    },
     addProducer (producerObj) {
        this.producerModal= false
        let promise = producerService.addProducer(producerObj)
            promise.then(() => {
                 producerService.getProducers()
        promise.then(res=>{
                const data = res.data
                this.$store.dispatch('getProducers',data)
                this.$Message.success('Producer Added');
                this.movieRequest.producerId = this.allProducers[this.allProducers.length-1].id
            
        })  
                 })
            .catch(error=> console.log(error))
    },
    getProducers(){
        const promise = producerService.getProducers()
        promise.then(res=>{
                const data = res.data
                this.$store.dispatch('getProducers',data)
                this.$Message.success('Producer Added');
        })  
    },
   
},
}
</script>

<style scoped>

.MovieForm{
    margin: auto;
    width: 60%;
    border: 3px solid #0341fc;
    background-color: whitesmoke;
}
.inputClass{
    width:60%;
}
.formItem{
    text-align: left;
    margin-left: 20px;
}
.addPersonBtn{
    background-color:rgb(233, 208, 135);
    margin-left:8px;
}
</style>