<template>
    <div> 
    <div align="right" style="margin:15px">
    <Button
        style="background-color:#eadff5"
        @click="$router.push('/addmovie')">+ Movie</Button>
    </div>   
    
    <Row>
    <Col :xs="24"
        :sm="12"
        :lg="8"  
         v-for="movie in movies" 
         :key="movie['id']">
        <movie-item 
        class="MovieTile"
        :movie="movie"
        @detail="displayDetail"
        @delete="deleteModal=true; movieId=$event">
        </movie-item>
    </Col>
    </Row>
    
       <Modal
        v-model="modal1"
        :styles="{top: '20px', width:'50%', border:'5px solid #aa42f5'}"
        cancel-text=""
        ok-text="Close">
    
        <movie-detail :movie="selectedMovie">
            <template #title>
              <h2>
                {{selectedMovie.title}}
              </h2>    
        </template></movie-detail>
    </Modal>
    <Modal
    v-model="deleteModal"
    :styles="{top: '20px', width:'40%', border:'5px solid #aa42f5'}"
    title="Warning">
    <div>Do you want to Delete it? </div>
      <div slot="footer">
        <Button type="text" size="large" @click=" deleteModal=false">Cancel</Button>
        <Button type="primary" size="large" @click="deleteMovie(movieId)">Delete</Button>
        </div>
    </Modal>
    </div>
</template>

<script>
import MovieItem from '../components/MovieItem.vue'
import MovieDetail from '../components/MovieDetail.vue'
import { mapGetters } from 'vuex'
import movieService from '../Services/movieService'
    export default {
        components:{
            MovieItem,
            MovieDetail
        },
        data() {
            return {
                modal1:false,
                deleteModal:false,
                movieId:null,
                selectedMovie:{
                    producer:{}
                },
            }
        },
        computed:{
            ...mapGetters({
                movies:'movieLst'
            }),
        },
        methods: {
            displayDetail(movie){
                this.modal1= true
                this.selectedMovie = movie
            },
            deleteMovie(id){
                this.deleteModal = false
                let promise = movieService.deleteMovie(id)
                promise.then(()=>{  
                    this.$store.dispatch('deleteMovie',id)  
                    this.$Message.success('Movie Deleted'); 
                    this.movieId = 0
                })
                .catch(error=> console.log(error)) 
            }
        },   
    }
</script>
<style scoped>
.MovieTile{
    background:#eee;
    padding:10px; 
    margin:auto; 
    margin-bottom:15px;
    margin-right:15px;
    margin-left:5px; 
    border:5px solid #8733f5;
}
</style>
