<template>
  <div>
    <br>
   <Modal v-model="modal1"
        :styles="{top: '20px', width:'50%', border:'5px solid #aa42f5'}">
                        
        <producer-detail
            :person="SelectedProducer">
        <div slot="title">
                <h2>{{SelectedProducer['firstName']}} {{SelectedProducer['lastName']}}</h2>    
          </div>
        </producer-detail>
   </Modal>
  
    <producer-form :formModal="formModal" 
                  :person="producerObj" 
                  title="Update Producer"
                  @ok="updateProducer" 
                  @cancel="cancel"></producer-form>
    <Row>
   <Col span="8" 
        v-for="producer in producers" 
        :key="producer.id">
        <producer-item class="producerTile" 
                      :person="producer"
                      @detail="modal1=true; SelectedProducer=$event"
                      @edit="formModal=true; producerObj=$event"
                      @delete="deleteProducer">
                      <template #title>
             <h4>{{producer.firstName}} {{producer.lastName}}</h4>
           </template>
        </producer-item>
    </Col>
    </Row>
  </div>
</template>

<script>
import PersonItem from '../components/PersonItem.vue'
import PersonForm from '../components/PersonForm.vue'
import PersonDetail from '../components/PersonDetail.vue'
import {mapGetters} from 'vuex'
import producerService from '../Services/producerService'
//import producerService from '../Services/ProducerService'
export default {
  components:{
    'ProducerItem': PersonItem,
    'ProducerForm': PersonForm,
    'ProducerDetail': PersonDetail
  },
   data(){
    return{
      modal1: false,
      SelectedProducer:{gender:'male'},
      formModal:false,
      producerObj:{},
    }
  },
  computed:{
    ...mapGetters({
      producers:'producersLst'
    })
  },
  methods: {
      updateProducer(producer) {
          this.formModal = false
           producer.id = this.producerObj.id
           let promise = producerService.updateProducer(producer)
           promise.then(() => {
              this.$store.dispatch('updateProducer',producer)
              this.$Message.success('Producer Updated');
            })
            .catch(error=> console.log(error))
      },
      cancel () {
          this.formModal = false
          this.producerObj= {}
      },
      deleteProducer(id){
        let promise = producerService.deleteProducer(id)
        promise.then(()=>{
          this.$store.dispatch('deleteProducer',id)
           this.$Message.success('Producer Deleted');
        })
        .catch(error=> console.log(error)) 
      },
            
  },
   
}
</script>
<style scoped>
.producerTile{
  background:#eee;
  padding:10px; 
  margin:auto; 
  margin-bottom:2px; 
  border:5px solid #8733f5
}
</style>